/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0;
  margin: 0;
}

.mibody {
	background-image: url("./w.jpg");
	background-attachment: fixed;
	background-size: cover;
	/*background-color: #17202a;*/
	background-color: #ffffff;
	text-decoration-color: #ffffff;
}

.adminbody{
	background-image: url("./abg5.jpg");
	background-color: #17202a;
	color: #000000;
	text-decoration-color: #000000;
}

/*para la barra de busqueda-----------------------------------------------------------*/




/*--------------------------------------------------------------------------------*/


/*Agregamos margenes inferiores a los parrafos*/
p {
  margin-bottom: 20px;
  color: #767676;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight:bold;
 /* text-align: center;*/
}

.tcolor{
	color: #000000;
	background-color: #17202a;
}
.w{
	 color: #ffffff;
}
.b{
	 color: #000000;
}
.textcolorb{
	 color: #000000;
}

.bgblanco{
	background-color: #ffffff;
}

.titulo {
	font-size: 80px;
	line-height: 1.05;
	font-weight: 600;
	letter-spacing: -.015em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.center{
	text-align: center;
}

.pad{
	padding-top: 100px;
}

.pad2{
	padding-top: 85px;

}

ul {
	/*text-align: justify;*/
}

table {
	color: #ffffff;
	font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight:bold;
	text-align: center;
}

h1, h2, h3, h4, h5, h6{
	color: #767676;
	font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight:bold;
	/*text-align: center;*/
}

.h1_2{
	color: #2DCC02;
	font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight:bold;
	/*text-align: center;*/
}

a{
	color:  #2e86c1 ;
}

.colorbg {
	background: rgba(0,0,0,0.7);
}

header {
  background: rgba(0,0,0,0.6);
  width: 100%;
  position: fixed;
  z-index: 100;

}

nav {
 /* float: left; /* Desplazamos el nav hacia la izquierda */

  vertical-align: middle;

}

nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */

}
 
nav ul li {
  float: left;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight:bold;
  text-align: center;
}
 
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

/*evento hover para cambiar fondo cuando se pase el mouse sobre elemento*/
nav ul li:hover {
  background: #3ead47;
}

.contenido {
  padding-top: 80px;
}

.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}

/* */

/* Carrusel */
.slider{
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400% ;

	animation: cambio 20s infinite alternate linear;
	animation-timing-function: ease-in-out;
}

.slider li {
	width: 100%
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%}
	45% {margin-left: -100%}

	50% {margin-left: -200%}
	70% {margin-left: -200%}

	75% {margin-left: -300%}
	100% {margin-left: -300%}
}

.tablaUser tr:nth-child(odd) {
    background-color:#f2f2f2;
}
	
.tablaUser tr:nth-child(even) {
    background-color:#fbfbfb;
}

.tablaUser th {
	color: #000000;
}

.mifooter {
	background-color: #000000;
}

.form-inline input {
        display: inline-block;
        width: 100px;
}


/*SCENE--------------------------------------------------------------------*/

/**/

/*PARALLAX*/

.content {
  font-size: 1.875rem;
  color: #262626;
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.right {
  padding: 1.618em 6.472em 3.236em 50%;
  background-position: 0 50%;
}

.illustration_01 {
  /*background-color: #FFFFFF;*/
  background-image: url("../img/b2.jpg");
}

.smallscreen {
  display: none;
}


@media (max-width: 106.25rem) {
  .wrapper,
  .separator {
    font-size: 1.6875rem;
  }
}
@media (max-width: 93.75rem) {
  .content,
  .separator {
    font-size: 1.5rem;
  }
  .right {
    padding: 1.618em 4.854em 1.618em 50%;
  }
  .left {
    padding: 1.618em 50% 1.618em 4.854em;
  }
}
@media (max-width: 81.25rem) {
  .content,
  .separator {
    font-size: 1.3125rem;
  }
  .right {
    padding: 1.618em 3.236em 1.618em 45%;
    background-size: 44% auto;
    background-position: 0 55%;
  }
  .left {
    padding: 1.618em 45% 1.618em 3.236em;
    background-size: 44% auto;
    background-position: 100% 55%;
  }
}
@media (max-width: 68.75rem) {
  .content,
  .separator {
    font-size: 1.125rem;
  }
  .right {
    padding: 1.618em 3.236em 1.618em 40%;
    background-size: 39% auto;
    background-position: 0 60%;
  }
  .left {
    padding: 1.618em 40% 1.618em 3.236em;
    background-size: 39% auto;
    background-position: 100% 60%;
  }
}
@media (max-width: 50rem) {
  .smallscreen {
    display: block;
  }
  .right {
    padding: 1.618em 3.236em;
    background-image: none;
  }
  .left {
    padding: 1.618em 3.236em;
    background-image: none;
  }
}
@media (max-width: 31.25rem) {
  .right {
    padding: 1.618em 1.618em;
  }
  .left {
    padding: 1.618em 1.618em;
  }
}
@media (max-width: 12rem) {
  html {
    min-width: 12rem;
  }
}


/**/
